{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="row center">
            <h2>Add the following numbers:</h2>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="form-group login">
                    <ul class="list-unstyled">
                        <li id="add1" class="num col col-sm-6">{{ nums[0] }}</li>
                        <li id="add2" class="num col col-sm-6">{{ nums[1] }}</li>
                    </ul>
                </div>
            </div>
            <div class="col col-sm-6">
                <form class="play_game" method="POST" action='{{ url_for('checkAnswer', currentUser=thisUser.username, sessionNo=sessNo) }}'>
                    <label class="control-label col-sm-2" for="username">Answer:</label>
                    <label class="control-label col-sm-12"><strong></strong>{{ message }}</strong></label>
                    <input type="text" class="form-control" name="ans" id="ans" autocomplete="off" autofocus>
                    <button id="answer" type="submit" class="btn btn-default form-align btn-pass-width" alt="Submit" value="submit">Submit Answer</button>
                    
                </form>
            </div>
        </div>
    </div>
    <h3>Game {{ index }} of 10</h3>
  
{% endblock %}